<!-- footer.html -->
<footer class="footer">
    <div class="footer-contenido">
        <p>&copy; 2024 GeekStation | Todos los derechos reservados.</p>
        <div class="social-media">
            <a href="https://www.facebook.com/people/GeekStation/61570121146475/" target="_blank" class="social-icon facebook" title="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/6eek_stati0n?igsh=NzJtdWVja2d2OGx4" target="_blank" class="social-icon instagram" title="Instagram"><i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
<script src="./js/plantilla.js"></script>