<!-- footer.html -->
<footer class="footer">
    <div class="footer-contenido">
        <p>&copy; 2024 GeekStation | Todos los derechos reservados. | <a href=" <iframe loading="lazy" style="position: relative; width: 100%; height: 600px; max-height: 80vh; border: none; border-radius: 8px; padding: 0; margin: 0; overflow: hidden;"
            src="https://www.canva.com/design/DAGZglFvJ3o/YPBuuKj8MMhLMvK6SbqpOA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
          </iframe>
          <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGZglFvJ3o&#x2F;YPBuuKj8MMhLMvK6SbqpOA&#x2F;view?utm_content=DAGZglFvJ3o&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Terminos y condiciones</a></p>  
        <div class="social-media">
            <a href="https://www.facebook.com/people/GeekStation/61570121146475/" target="_blank" class="social-icon facebook" title="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/6eek_stati0n?igsh=NzJtdWVja2d2OGx4" target="_blank" class="social-icon instagram" title="Instagram"><i class="fab fa-instagram"></i>
            </a>
            
        </div>
    </div>
</footer>
<script src="./js/plantilla.js"></script>